body{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

#navbar{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: auto;
    text-align: center;
    background-image: linear-gradient(190deg, steelblue, tomato);
}

#navbar ul li a{
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 20px;
}

#navbar ul li{
    margin-left: 3%;
    list-style: none;
    display: inline-block;
}

.container{
    display: inline-block;
    width: 100%;
    /* border: black solid 1px; */
    margin-top: 10%;
}

.subcontainer{
    /* border: 1px solid black; */
    display: inline-block;
    margin-left: 15%;
}

.subcontainer h1{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: bolder;
}

.blue-text{
    color: rgba(27, 8, 63, 0.7);
}

.blur-text{
    position: relative;
    bottom: 50px;
    color: rgba(187, 87, 70,.7);
}