
a{
    text-decoration: none;
}
body{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

#navbar{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: auto;
    text-align: center;
    background-image: linear-gradient(190deg, steelblue, tomato);
}

#navbar ul li a{
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

#navbar ul li{
    margin-left: 3%;
    list-style: none;
    display: inline-block;
}

.container{
    width: 100%;
    height: 650px;
    margin-top: 2;
}

.subcontainer{
    margin-top: 3%;
    float: left;
    width: 48%;
}

.subcontainer p{
    font-weight: bold;
    padding-left: 30%;
    text-align: justify;
}
p{
    font-weight: bolder;
}

.buttons{
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    font-size: 30px;
    background-image: linear-gradient(150deg,rgb(120, 226, 203),rgb(170, 89, 75));
    margin-left: 30%;
    margin-top: 3%;
}

.buttons a{
    text-shadow: 3px 3px 5px black;
    font-family: 'Montserrat', sans-serif !important;
    color: white;
    font-weight: bolder;
}
.subcontainer img{
    width: 70%;
    padding-left: 20%;
    margin-top: 8%;
    height: auto;
}

.subcontainer h1{
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: bolder;
    padding-left: 30%;
    position: relative;
    top: 70px;
}
#about p{
    margin-top: 90px;
    width: 60%;
    text-align: justify;
}

.blue-text{
    color: rgba(27, 8, 63, 0.7);
}

.blur-text{
    position: relative;
    bottom: 50px;
    color: rgba(187, 87, 70,.7);
}

.blur-text-simple{
    color: rgba(187, 87, 70,.7);
}

#work-section{
    margin-top: 5%;
    width: 100%;
    height: 700px;
    background-color: rgb(228, 226, 226);
}

#work-section h2{
    position: relative;
    font-family: 'Oswald', sans-serif;
    top: 45px;
    font-size: 40px;
    text-align: center;
}

.work-contents{
    background-color: white;
    display: inline-block;
    width: 400px;
    align-content: center;
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 5%;
    box-shadow: 1px 1px 10px black;
}

.work-contents p{
    margin-left: 5%;
}
.work-contents img{
    width: 100%;
}

h3{
    font-size: 30px;
    margin-left: 5%;
    font-family: 'Oswald', sans-serif;
}

footer{
    width: 100%;
    height: 600px;
    margin-top: 5%;
}

#chat{
    display: inline-block;
    background: url(personal-website-main/shapes/footer.png);
    background-repeat: no-repeat;
    background-size: 100% 200px;
    height: 200px;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}

h4{
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 40px;
    margin-left: 5%;
    margin-top: 10%;
}

#sites{
    border: 1px solid black;
}
h5{
    color: grey;
    font-size: 30px;
    text-align: center;
}
h6{
    position: relative;
    bottom: 60px;
    font-family: 'Oswald', sans-serif;
    color: rgb(57, 24, 83);
    text-align: center;
    font-size: 40px;
}

#icons-section{
    margin-left: 45%;
    position: relative;
    bottom: 140px;
    display: inline-block;
}
.icons{
    text-align: center;
    width: 40px;
    margin-left: 10px;
}